In [1]:
import sqlite3
import pandas as pd

In [2]:
# Función para leer datos de la base de datos SQLite
def read_data_sql(PATH=r'bdd\database.db'):
    """
    Lee datos desde una base de datos SQLite y devuelve dos DataFrames.
    """
    conn = sqlite3.connect(PATH)
    df1 = pd.read_sql("SELECT * FROM tabla1", conn)
    df2 = pd.read_sql("SELECT * FROM tabla2", conn)
    conn.close()
    return df1, df2

In [3]:
df1, df2 = read_data_sql()

In [4]:
df1.head()

           ruc            nombre_completo ubicación  estado fecha_de_consulta
0  10096838978  ABAD ZAPATA DANTE RICARDO      LIMA  ACTIVO   06/12/2024 0:15

In [5]:
df2.head()

,tipo_contribuyente,tipo_documento,documento,nombre,nombre_comercial,fecha_inscripcion,fecha_inicio_actividades,estado,condicion,domicilio_fiscal,emision_comprobante,comercio_exterior,contabilidad,actividad_economica,comprobantes_impresos,emision_electronica,emisor_electronico_desde,comprobantes_electronicos,afiliado_ple_desde,padrones
0,PERSONA NATURAL CON NEGOCIO,DNI,09683897,"ABAD ZAPATA, DANTE RICARDO",-\nAfecto al Nuevo RUS: SI,1999-01-07 00:00:00,1999-01-07 00:00:00,ACTIVO,HABIDO,-,MANUAL,SIN ACTIVIDAD,MANUAL,Principal - 7020 - ACTIVIDADES DE CONSULTORÍA ...,Secundaria 1 - 0130 - PROPAGACIÓN DE PLANTAS,19/03/2015,19/03/2015,"RECIBO POR HONORARIO (desde 19/03/2015),BOLETA...",-,Secundaria 2 - 4761 - VENTA AL POR MENOR DE LI...